*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background: rgb(187, 229, 229);
    font-size: 1.6rem;
    font-family: 'Space Mono', monospace, sans-serif;
}

h1{
    color: #446769;
    font-size: 2.6rem;
    text-align: center;
}

.card{
    background: White;
    min-width: 30.2rem;
    min-height: 30rem;
    padding: 2rem;
    border-radius: 1.2rem;
    margin-top: 3.5rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.inputs label,
.label{
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: #446769;
}

.inputs input{
    border: none;
    background-color: #F3F8FB;
    height: 4rem;
    border-radius: .8rem;
    color: #00474B;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: end;
    padding-right: 1rem;
}

.porcentagem{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    margin: 3rem auto;
}

.porcentagem button,
.custom{
    background: #00474B;
    color: #F3F8FB;
    border: none;
    border-radius: .8rem;
    width: 12.5rem;
    height: 4.5rem;
    font-size: 2.4rem;
    cursor: pointer;
}

.custom{
    padding-left: 1.3rem;
}

.porcentagem button:focus{
    background: #26C2AD;
}

.porcentagem .custom{
    background: #F3F8FB;
    color: #5F7F7A;
    font-weight: 700;
}

/* quebra tela */

.resultado{
    background: #00474B;
    border-radius: 1rem;
    padding: 1.3rem;
    width: 100%;
}

.resultado .valor-pessoa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00474B;
    border-radius: 1rem;
    color: #26C2AD;
}

.valor-pessoa p{
    color: #F3F8FB;
    font-size: 1.5rem;
}

.valor-pessoa span{
    color: #54868D;
    font-size: 1.3rem;
}

.valor-pessoa .valor1,
.valor-pessoa .valor2{
    font-size: 2rem;
    color: #26C2AD;
    font-weight: bold;
}

.Calcular,
.Reset{
    width: 100%;
    background: #26C2AD;
    border: none;
    height: 4.9rem;
    border-radius: .8rem;
    color: #00474B;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1.9rem;
    cursor: pointer;
}

.hide{
    display: none;
}

@media(min-width: 720px){
    .card{
        display: flex;
        margin: 4rem auto;
        max-width: 92.2rem;
        gap: 5rem;
    }

    .valores,
    .resultado{
        max-width: 41.2rem;
    }

    .valor-pessoa .valor1,
    .valor-pessoa .valor2{
        font-size: 3rem;
    }

    .resultado{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 4rem 3rem;
    }

    .btns{
        margin-top: 9rem;
    }
}